@font-face {
	font-family: 'DM_Sans';
	src: url(./DM_Sans/DMSans-VariableFont_opsz\,wght.ttf);
}

@font-face {
	font-family: 'Noto_Sans';
	src: url(./Noto_Sans/NotoSans-VariableFont_wdth\,wght.ttf);
}
